body {
  background-image: url("https://stmedia.startribune.com/images/ctyp_kendrick-lamar-pressphoto.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}

#txt {
  color: red;
  font-size: 125px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Metamorphous";
}
